@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap"); /* fonte italica  da pagina de apresentação */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap"); /* fonte usada nos titulos */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"); /* fonte usada nos texto */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");


* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

/* BARRA DE NAVEGAÇÃO */

nav {
  background-color: #394867;
  border-bottom: 5px solid #212a3e;
  font-family: "Mukta", sans-serif;
  width: 100%;
}

/* Pagina de contato */

#P1 {
  font-family: "Mukta", sans-serif;
  font-size: 30px;
  color: white;
  width: 100%;
  height: 700px;
  background: rgb(155, 164, 181);
  background: -moz-linear-gradient(
    -45deg,
    rgb(155, 164, 181) 1%,
    rgb(155, 164, 181) 2%,
    rgb(155, 164, 181) 2%,
    rgb(155, 164, 181) 12%,
    rgb(155, 164, 181) 50%,
    rgb(57, 72, 103) 50%,
    rgb(57, 72, 103) 55%,
    rgb(57, 72, 103) 68%
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgb(155, 164, 181) 1%,
    rgb(155, 164, 181) 2%,
    rgb(155, 164, 181) 2%,
    rgb(155, 164, 181) 12%,
    rgb(155, 164, 181) 50%,
    rgb(57, 72, 103) 50%,
    rgb(57, 72, 103) 55%,
    rgb(57, 72, 103) 68%
  );
  background: linear-gradient(
    135deg,
    rgb(155, 164, 181) 1%,
    rgb(155, 164, 181) 2%,
    rgb(155, 164, 181) 2%,
    rgb(155, 164, 181) 12%,
    rgb(155, 164, 181) 50%,
    rgb(57, 72, 103) 50%,
    rgb(57, 72, 103) 55%,
    rgb(57, 72, 103) 68%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ba4b5', endColorstr='#394867',GradientType=1 );
}

#apresentacao {
  font-family: "Roboto Condensed", sans-serif;
  font-style: italic;
  padding: 20px;
  height: 300px;
  width: 300px;
  
}


#contatos {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 250px;
  text-align: center;

}

#contatos a {
  color: #f1f6f9;
  margin: 10px;
  background-color: #394867;
  border: 2px solid #f1f6f9;
  border-radius: 7px;
  transition-duration: 0.8s;
  height: 70px;
}

#contatos a:active  {
  text-decoration: none;
}

#contatos a:hover  {
  text-decoration: none;
}


/* Pagina sobre mim */

#P2 {
  background-color: #f1f6f9;
  font-family: "Mukta", sans-serif;
  font-size: 30px;
  color: #212a3e;
  width: 100%;
  height: 700px;
  text-align: center;
}

.sobremim{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  padding: 10px;
  

}

/* Pagina de projetos */

#P3 {
  background-color: #9ba4b5;
  color: white;
  text-align: center;
  width: 100%;
}

#projetos {
  width: 100%;
}

#projetos a {
  background-color: #394867;
  padding: 0px;
  border-radius: 5px;
  text-decoration: none;
  color: #f1f6f9;
  margin:  0% 20% 10% 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 150px;
}

#projetos h3 {
  background-color: #f1f6f9;
  color: #212a3e;
  width: 100%;
}

/* Pagina de Habilidades */

#P4 {
  background-color: #f1f6f9;
  font-family: "Mukta", sans-serif;
  font-size: 30px;
  color: #394867;
  display: block;
  width: 100%;
}

#habilidades {
  display: flex;
  width: 90%;
  margin: 5%;
  justify-content: space-evenly;
}

#habilidades a {
  background-color: #394867;
  color: white;
  display: flex;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
}

#contentSkill {
  background-color: #212a3e;
  width: 90%;
  height: 70%;
  border-radius: 5px;
  margin: 5%;
  color: #f1f6f9;
  text-align: center;
  
}

#contentjs{
  display: none;
}

#constentcss{
  display: none;
}

#contentboot{
  display: none;
}

#showskill{
  display: block;
}

#closecontent{
  float: right;
  margin-right: 20px
  
}

#showskill{
  display: none;
}


/* Tablets 481 - 768 */

@media (min-width: 481px) and (max-width: 768px) {

  #projetos a {
    background-color: #394867;
    padding: 0px;
    border-radius: 5px;
    text-decoration: none;
    color: #f1f6f9;
    margin:  0% 20% 10% 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
  }

}

/* Notebook 769 - 1024 */

@media (min-width: 769px) and (max-width: 1024px) {
  /*  BARRA DE NAVEGAÇÃO*/
    #buttonshow {
        border-radius: 5px;
        margin: 10px;
        display: none;
        float: right;
      }
      
      #buttonhide{
          display: none;
          
      }

      
      #menu{
          display: block;
          
           
      }

      #menu li {
        float: right;
        list-style-type: none;
        margin: 0;
      }

      #menu li a {
        margin: 0;
      }

/* PROJETOS */
#projetos a {
  background-color: #394867;
  padding: 0px;
  border-radius: 5px;
  text-decoration: none;
  color: #f1f6f9;
  margin:  0% 20% 5% 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 150px;
}

      

}

/* Desktops  1025 - 1200 */

@media (min-width: 1025px) and (max-width: 1200px) {

  /*BARRA DE NAVEGAÇÃO*/

  #buttonshow {
    border-radius: 5px;
    margin: 10px;
    display: none;
    float: right;
  }
  
  #buttonhide{
      display: none;
      
  }

  
  #menu{
      display: block;
      
       
  }

  #menu li {
    float: right;
    list-style-type: none;
    margin: 0;
  }

  #menu li a {
    margin: 0;
  }


  /* PRIMEIRA PAGINA*/

  #contatos {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
  
  }
  
  #contatos button {
    color: #f1f6f9;
    margin: 10px;
    background-color: #394867;
    border: 2px solid #f1f6f9;
    border-radius: 7px;
    transition-duration: 0.8s;
    height: 70px;
  }
  
  #contatos button:hover {
  
    margin: 10px;
    color: #212a3e;
    width: 250px;
    background-color: #f1f6f9;
    border: 2px solid #212a3e;
    transition-duration: 0.7s;
    font-size: 17px;
  }
  
  #apresentacao {
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    font-size: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    color: RED;
    
  }

  /**/

         


      #projetos a {
        background-color: #394867;
        padding: 0px;
        border-radius: 5px;
        text-decoration: none;
        color: #f1f6f9;
        margin:  0% 20% 5% 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 150px;
      }
      


}

/* TV 1201 */

@media (min-width: 1201px) {

 
  /* PRIMEIRA PAGINA */

  #P1 {
    font-family: "Mukta", sans-serif;
    color: white;
    width: 100%;
    height: 700px;
    
  }

  #apresentacao {
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    width: 100%;

  }




  #contatos {
    flex-direction: column;
    width: 400px;
    margin-left: 80PX;
  
  }
  
  #contatos a {
    color: #f1f6f9;
    margin: 5px;
    background-color: #394867;
    border: 2px solid #f1f6f9;
    border-radius: 5px;
    transition-duration: 0.8s;
    height: 80px;
    width: 300px;
    font-size: 20px;

  }
  
  #contatos a:hover {
    margin: 10px;
    color: #212a3e;
    height: 100px;
    background-color: #f1f6f9;
    border: 2px solid #212a3e;
    transition-duration: 0.9s;
    font-size: 25px;
    width: 350px;
    text-decoration: none;
  }

  #P2 {
    background-color: #f1f6f9;
    font-family: "Mukta", sans-serif;
    font-size: 45px;
    color: #212a3e;
    width: 100%;
    height: 700px;
    text-align: center;
  }
  
  .sobremim{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    padding: 10%;
    
  
  }

  #P3 {
    background-color: #9ba4b5;
    color: white;
    text-align: center;
    width: 100%;
  }
  
  
  #projetos a {
    background-color: #394867;
    padding: 0px;
    border-radius: 5px;
    text-decoration: none;
    color: #f1f6f9;
    margin:  0% 20% 10% 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
  }
  
  #projetos h3 {
    background-color: #f1f6f9;
    color: #212a3e;
    width: 100%;
  }
  
    

  

    
}
