@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap"); /* fonte italica  da pagina de apresentação */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap"); /* fonte usada nos titulos */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"); /* fonte usada nos texto */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

/* CONSTRUÇÃO  DOD ESTILO BARRA DE NAVEGAÇÃO */

/* BUTTON MENU */

#buttonshow {
  border-radius: 5px;
  margin: 10px;
  display: block;
  float: right;
}

#buttonhide{
    display: none;
    
}

#trace {
  width: 30px;
  height: 3px;
  background-color: #f1f6f9;
  margin: 5px;
  border-radius: 5px;
}

#menu{
    display: none;
     
}


/* ESTRUTURA DA BARRA DE NAVEGAÇÃO*/

nav {
  background-color: #394867;
  border-bottom: 5px solid #212a3e;
  color: azure;
  font-family: "Mukta", sans-serif;
  width: 100%;
  height: 50px;

}

nav li {
  padding: 10px;
  text-align: center;

}

nav ul {
  list-style-type: disc;
  overflow: hidden;
}

nav li a {
  color: white;
  padding: 20px;
  margin: 20px;

  
}



.apresentacao {
  font-family: "Roboto Condensed", sans-serif;
  font-style: italic;
  font-size: 25px;
}

.titulo {
  font-family: "Oswald", sans-serif;

  text-align: center;
}

.texto {
  font-family: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

main {
  display: inline;
}

/* Pagina de contato */

#P1 {
  padding: 40px;
  font-family: "Mukta", sans-serif;
  font-size: 30px;
  color: white;
  height: 700px;
  background: rgb(155, 164, 181);
  background: -moz-linear-gradient(
    -45deg,
    rgb(155, 164, 181) 1%,
    rgb(155, 164, 181) 2%,
    rgb(155, 164, 181) 2%,
    rgb(155, 164, 181) 12%,
    rgb(155, 164, 181) 50%,
    rgb(57, 72, 103) 50%,
    rgb(57, 72, 103) 55%,
    rgb(57, 72, 103) 68%
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgb(155, 164, 181) 1%,
    rgb(155, 164, 181) 2%,
    rgb(155, 164, 181) 2%,
    rgb(155, 164, 181) 12%,
    rgb(155, 164, 181) 50%,
    rgb(57, 72, 103) 50%,
    rgb(57, 72, 103) 55%,
    rgb(57, 72, 103) 68%
  );
  background: linear-gradient(
    135deg,
    rgb(155, 164, 181) 1%,
    rgb(155, 164, 181) 2%,
    rgb(155, 164, 181) 2%,
    rgb(155, 164, 181) 12%,
    rgb(155, 164, 181) 50%,
    rgb(57, 72, 103) 50%,
    rgb(57, 72, 103) 55%,
    rgb(57, 72, 103) 68%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ba4b5', endColorstr='#394867',GradientType=1 );
}

#contatos {
  display: inline-block;
  margin-bottom: 20px;
}

#contatos button {
  display: block;
  margin: 10px;
  color: #f1f6f9;
  width: 200px;
  height: 50px;
  background-color: #394867;
  border: 2px solid #f1f6f9;
  border-radius: 7px;
  transition-duration: 0.8s;
}

#contatos button:hover {
  display: block;
  margin: 10px;
  color: #212a3e;
  width: 250px;
  background-color: #f1f6f9;
  border: 2px solid #212a3e;
  transition-duration: 0.7s;
  font-size: 17px;
}

#pins {
  display: none;
}

#pins a {
  display: block;
  border: #f1f6f9 3px solid;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  transition-duration: 0.7s;
  text-align: center;
}

#pins a:hover {
  display: block;
  margin-bottom: 15px;
  border: #f1f6f9 3px solid;
  padding: 25px;
  border-radius: 5px;
  transition-duration: 0.5s;
}

#pins1:hover {
  background-color: #3c99dc;
  color: #d5f3fe;
}

#pins2:hover {
  background-color: #f0db4f;
  color: #323330;
}

#pins3:hover {
  background-color: #3c873a;
  color: #303030;
}

#pins4:hover {
  background-color: #61dbfb;
  color: #323330;
}

#pins5:hover {
  background-color: #333333;
  color: #999999;
}

#pins6:hover {
  background-color: #3fa037;
  color: #3f3e42;
}

/* Pagina sobre mim */

#P2 {
  background-color: #f1f6f9;
  padding: 70px;
  font-family: "Mukta", sans-serif;
  font-size: 30px;
  color: #212a3e;
  height: 700px;
}

/* Pagina de projetos */

#P3 {
  background-color: #9ba4b5;
  font-family: "Mukta", sans-serif;
  font-size: 30px;
  color: white;
  height: 700px;
  text-align: center;
}

#projetos {
  display: inline-block;
}

#projetos a {
  background-color: #394867;
  padding: 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #f1f6f9;
  text-align: center;
  margin: 30px;
  display: block;
  width: 300px;
  height: 150px;
}

/* Pagina de Habilidades */

#P4 {
  background-color: #f1f6f9;
  font-family: "Mukta", sans-serif;
  font-size: 30px;
  color: #394867;
  height: 700px;
  display: block;
}

#habilidades {
  display: flex;
  width: 90%;
  margin: 5%;
  justify-content: space-evenly;
}

#habilidades a {
  background-color: #394867;
  color: white;
  display: flex;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
}

#contentSkill {
  background-color: #212a3e;
  width: 90%;
  height: 70%;
  border-radius: 5px;
  margin: 5%;
  color: #f1f6f9;
  display: none;
  text-align: center;
}

/* Tablets 481 - 768 */

@media (min-width: 481px) and (max-width: 768px) {
}

/* Notebook 769 - 1024 */

@media (min-width: 769px) and (max-width: 1024px) {
         
    #buttonshow {
        border-radius: 5px;
        margin: 10px;
        display: none;
        float: right;
      }
      
      #buttonhide{
          display: none;
          
      }

      
      #menu{
          display: block;
          
           
      }

      #menu li {
        float: right;
        list-style-type: none;
        margin: 0;
      }

      #menu li a {
        margin: 0;
      }
      

}

/* Desktops  1025 - 1200 */

@media (min-width: 1025px) and (max-width: 1200px) {

         
    #buttonshow {
        border-radius: 5px;
        margin: 10px;
        display: none;
        float: right;
      }
      
      #buttonhide{
          display: none;
          
      }

      
      #menu{
          display: block;
          
           
      }

      #menu li {
        float: right;
        list-style-type: none;
        margin: 0;
      }

      #menu li a {
        margin: 0;
      }
      


}

/* TV 1201 */

@media (min-width: 1201px) {
     
    #buttonshow {
        border-radius: 5px;
        margin: 10px;
        display: none;
        float: right;
      }
      
      #buttonhide{
          display: none;
          
      }

      
      #menu{
          display: block;
          
           
      }

      #menu li {
        float: right;
        list-style-type: none;
        margin: 0;
      }

      #menu li a {
        margin: 0;
      }
      
     

    

  

    
}
